$blue: #3c4296;
$lightWhite: rgb(247, 224, 224);
$orange: #FF7700;

$font: 'open-sans', Helvetica, sans-serif;

$marginRight: 15px;
$marginLeft: 15px;

@keyframes animacija {
    from{
        top: 0;
    }
    to {
        top: 0;
    }
}