header {
    width: 100%;
    background-color: blue;

    nav {
        ul {
            @include reset-list;

            li {
                padding: 20px;

                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        background-color: lighten($orange, $i * 5%);
                    }
                }
            }
        }
    }


    @media (max-width: 768px) {
        background-color: $orange;

        nav{
            margin: 150px;
            ul{
                @include normal-list;
            }
        }
    }
}