.hero{
    background-color: purple;
    color: $lightWhite;
    font-family: $font;

    @include margins(20px, 20px);

    &--title{
        font-size: 24px;
    }

    &--avatar{
        background-color: $orange;

        @include kvadrat(150px, $krug: true)
    }
}